table{
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: auto;
    width: 100%;
    justify-content: left;
    /* display: flex;
    table-layout: auto; */
}
th,td{
    border: 1px solid black;
    background-color: aqua;
    height: 100px;
}
.text{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    /* display: flex;
    flex-direction: row; */
}